{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}





{% block content %}
  <body>
    <!--Navbar-->

      <!-- END nav -->

    <div class="hero-wrap" style="background-image: url('images/bg_7.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% static 'index.html' %}">Home</a></span> <span>About</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
          </div>
        </div>
      </div>
    </div>


    <section class="ftco-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex ftco-animate">
    				<div class="img img-about align-self-stretch" style="background-image: url(images/aboutbg.jpg); width: 100%;"></div>
    			</div>
    			<div class="col-md-6 pl-md-5 ftco-animate">
    				<h2 class="mb-4">About Us</h2>
    				<p>We are Nawaazish crew - a group of college students from different realms of life, on a mission to contribute to a society of equal opportunities, an environment one and all.</p>
    				<p>Nawaazish, which translates to kindness, is the soul of our drive - one to channelize resources and skills to create a better world. We strive you the underprivileged communities to foster change.</p>
    			</div>
    		</div>
    	</div>
    </section>



    <section class="ftco-counter ftco-intro ftco-intro-2" id="section-counter">
    	<div class="container">
    		<div class="row no-gutters">
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-2 align-items-stretch">
              <div class="text">
              	<h3 class="mb-4">Donate Money</h3>
              	<p>Experience the joy of giving by donating to our cause and the diverse causes we work for. Support us in our mission and help your friends make a difference too.</p>
              	<p><a href="{% static 'donate.html' %}" class="btn btn-white px-3 py-2 mt-2">Donate Now</a></p>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-3 align-items-stretch">
              <div class="text">
              	<h3 class="mb-4">Be a Volunteer</h3>
              	<p>We Nawaazish crew are recruiting more people to our cause. A change that we want in the society, for us for the people around us.</p>
              	<p><a href="{% static 'modalTemplate.html' %}" class="btn btn-white px-3 py-2 mt-2" data-toggle="modal" data-target="#joinUsModal" >Be A Volunteer</a></p>
              </div>
            </div>
          </div>
    		</div>
    	</div>
    </section>

    <!--Causes-->
    <section class="ftco-section">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-6 pl-md-5 ftco-animate">
            <h2 class="mb-4">Why was Nawaazish founded?</h2>
            <p>Nawaazish was founded with the noble aim to foster change in our society.</p>
            <p>"The smallest act of kindness is worth more than the greatest intentions." We the members of Nawaazish stand by this thought.</p>
            <p>We are an organization driven by change. A change that we want in society, for us and the people around us. We aim to create awareness and educate our society, one day & one person at a time.</p>
            <h2 class="mb-4">Our Mission</h2>
            <p>We here at Nawaazish Crew work with the aim to create a society of equal opportunities and an environment that sustains one and all. We believe in the idealogy that all life is equal and put everything in making this idealogy a ground reality for everyone.</p>
          </div>
          <div class="col-md-6 d-flex ftco-animate">
            <div class="img img-about align-self-stretch" style="background-image: url(images/aboutbg3.jpg); width: 100%;"></div>
          </div>
        </div>
      </div>
    </section>
}

<!--Footer-->

    <footer class="ftco-footer ftco-section img">
    	<div class="overlay"></div>
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Us</h2>
              <p>We are Nawaazish crew - a group of college students from different realms of life, on a mission to contribute to a society of equal opportunities, an environment one and all.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate Social"><a href="{% static 'https://twitter.com/NawaazishCrew' %}" target="_blank"><span class="icon-twitter "></span></a></li>
                <li class="ftco-animate Social"><a href="{% static 'https://www.facebook.com/Nawaazish-Crew-107099397604923/' %}" target="_blank"><span class="icon-facebook "></span></a></li>
                <li class="ftco-animate Social"><a href="{% static 'https://www.instagram.com/nawaazish.crew/' %}" target="_blank"><span class="icon-instagram "></span></a></li>
                <li class="ftco-animate Social"><a href="{% static 'https://www.youtube.com/channel/UCRYRzx9eX4enktHapkhSy6Q' %}" target="_blank"><span class="icon-youtube "></span></a></li>
                <li class="ftco-animate Social"><a href="{% static 'https://www.linkedin.com/company/nawaazish-crew' %}" target="_blank"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
          <!--<div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Recent Blog</h2>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Site Links</h2>
              <ul class="list-unstyled">
                <li><a href="{% static 'index.html' %}" class="py-2 d-block">Home</a></li>
                <li><a href="{% static 'about.html' %}" class="py-2 d-block">About</a></li>
                <li><a href="{% static 'donate.html' %}" class="py-2 d-block">Donate</a></li>
                <li><a href="{% static 'event.html' %}" class="py-2 d-block">Events</a></li>
                <li><a href="{% static 'meet-our-crew.html' %}" class="py-2 d-block">Meet Our Crew</a></li>
               <!-- <li><a href="blog.html" class="py-2 d-block">Blog</a></li>-->
               </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Contact Us</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><a href="{% static 'tel://+91-8800202773' %}"><span class="icon icon-phone"></span><span class="text">+91-8800202773</span></a></li>
              <li><a href="{% static 'mailto:nawaazishcrew@gmail.com' %}"><span class="icon icon-envelope"></span><span class="text">nawaazish.crew@gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
       <p>Copyright <script>document.write(new Date().getFullYear())</script> All rights reserved | <a href="#" target="_blank">Nawaazish</a>
       </p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}




  <!-- loader -->
 