{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<!--Navbar-->

<!-- END nav -->

<div class="hero-wrap" style="background-image: url({% static 'images/meet-our-crew-cover.jpeg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% static 'index.html' %}">Home</a></span> <span>Meet Our Crew</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Meet our Crew</h1>
            </div>
        </div>
    </div>
</div>




<!--Causes-->
<section id="causes" class="ftco-section bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-5 heading-section ftco-animate text-center">
                <h2 class="mb-4">Our Crew</h2>
            </div>
        </div>
<center>
            <div class="cause-entry col-md-3">
                <a href="#" class="img" style="background-image: url({% static 'images/Members/Kushagra_.jpg); width: 100%;margin-top: 10px"></a>
                <div class="text p-md-1">
                    <h3><center>Kushagra <br>
                        (Founder)</center></h3>
                </div>
        </div>
</center>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="carousel-cause owl-carousel">
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Anvi.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Anviksha</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Gagandeep.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Gagandeep</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Jatin.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Jatin</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Khalid.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Khalid</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Laksh.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Laksh</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Lakshay.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Lakshay</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Nakul.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Nakul</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Navya.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Navya</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Priyanshu-Joshi.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Priyanshu</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Raghav-Abrol.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Raghav</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Raj.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Raj</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Tan.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Tanisha</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/utkarsh.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Uthkarsh</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Utsav.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Utsav</center></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cause-entry">
                            <a href="#" class="img" style="background-image: url({% static 'images/Members/Vibhor-Chauhan.jpg' %})"></a>
                            <div class="text p-md-1">
                                <h3><center>Vibhor</center></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Footer-->

<footer class="ftco-footer ftco-section img">
  <div class="overlay"></div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">About Us</h2>
          <p>We are Nawaazish crew - a group of college students from different realms of life, on a mission to contribute to a society of equal opportunities, an environment one and all.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate Social"><a href="{% static 'https://twitter.com/NawaazishCrew' %}" target="_blank"><span class="icon-twitter "></span></a></li>
            <li class="ftco-animate Social"><a href="{% static 'https://www.facebook.com/Nawaazish-Crew-107099397604923/' %}" target="_blank"><span class="icon-facebook "></span></a></li>
            <li class="ftco-animate Social"><a href="{% static 'https://www.instagram.com/nawaazish.crew/' %}" target="_blank"><span class="icon-instagram "></span></a></li>
                <li class="ftco-animate Social"><a href="{% static 'https://www.youtube.com/channel/UCRYRzx9eX4enktHapkhSy6Q' %}" target="_blank"><span class="icon-youtube "></span></a></li>
                <li class="ftco-animate Social"><a href="{% static 'https://www.linkedin.com/company/nawaazish-crew' %}" target="_blank"><span class="icon-linkedin"></span></a></li>
          </ul>
        </div>
      </div>
      <!--<div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Recent Blog</h2>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <div class="col-md-4">
         <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Site Links</h2>
          <ul class="list-unstyled">
            <li><a href="{% static 'index.html' %}" class="py-2 d-block">Home</a></li>
            <li><a href="{% static 'about.html' %}" class="py-2 d-block">About</a></li>
            <li><a href="{% static 'donate.html' %}" class="py-2 d-block">Donate</a></li>
            <li><a href="{% static 'event.html' %}" class="py-2 d-block">Events</a></li>
            <li><a href="{% static 'meet-our-crew.html' %}" class="py-2 d-block">Meet Our Crew</a></li>
           <!-- <li><a href="blog.html" class="py-2 d-block">Blog</a></li>-->
           </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="ftco-footer-widget mb-4">
      <h2 class="ftco-heading-2">Contact Us</h2>
      <div class="block-23 mb-3">
        <ul>
          <li><a href="{% static 'tel://+91-8800202773' %}."><span class="icon icon-phone"></span><span class="text">+91-8800202773</span></a></li>
          <li><a href="{% static 'mailto:nawaazishcrew@gmail.com' %}"><span class="icon icon-envelope"></span><span class="text">nawaazish.crew@gmail.com</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
   <p>Copyright <script>document.write(new Date().getFullYear())</script> All rights reserved | <a href="#" target="_blank">Nawaazish</a>
   </p>
  </div>
</div>
</div>
</footer>



<!-- loader -->

<script>
    var carouselsMeet = function() {
        $('.carousel-cause').owlCarousel({
            autoplay: true,
            center: true,
            loop: true,
            items:1,
            margin: 30,
            stagePadding:0,
            nav: true,
            navText: ['<span class="ion-ios-arrow-back">', '<span class="ion-ios-arrow-forward">'],
            responsive:{
                0:{
                    items: 1,
                    stagePadding: 0
                },
                240:{
                    items: 1,
                    stagePadding: 50
                },
                480:{
                    items: 3,
                    stagePadding: 50
                },
                720: {
                    items: 5,
                    stagePadding: 50
                }

            }
        });

    };
    carouselsMeet()
</script>


{% endblock %}
